.photo-grid__item {
  /*max-width: 100%;*/
  /*max-height: 100%;*/

  object-fit: contain;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item {



    width: 300px;
    height: 225px;



  }
}