.place__paragraph {
  margin: 25px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:first-of-type {
  margin-top: 46px;
}

/*@media screen and (max-width: 1024px) {*/
/*  .place__paragraph {*/
/*    margin-top: 25px;*/
/*  }*/
/*}*/

@media screen and (max-width: 768px) {
  .place__paragraph {
    /*margin-top: 25px;*/
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  /*.place__paragraph {*/
  /*  margin-top: 25px;*/
  /*}*/
  .place__paragraph:first-of-type {
    margin-top: 30px;
  }
}