.lead__image {
  display: flex;
  margin: 64px auto 0 auto;
  max-width: 984px;
  max-height: 615px;
  object-fit: contain;
}

@media screen and (max-width:1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 56px auto 0 auto;
  }
}