.lead__caption {
  display: flex;
  margin: auto;
  margin-top: 8px;
  max-width: 984px;
  font-weight: 400;
  font-size: 0.625em;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}