.header__lang-links {
	display: flex;
	flex-direction: row;
	column-gap: 18px;
	height: 32px;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 320px) {
	.header__lang-links {
		align-items: flex-end;
	}
}